extends layout

block content
  p Login
  if errors && errors.length > 0
    each error in errors
      p.error= error.message 
  form(action='/login' method='POST')
    div
      label(for="email") Email:
      input(type="email" id="email" name="email" required)
    div
      label(for="password") Password:
      input(type="text" id="password" name="password" required)
    div
      button(type="submit") Login 
  a(href='/register') Register