extends layout

block content
  p Register 
  if errors && errors.length > 0
    each error in errors
      p.error= error.message 
  form(action='/register' method='POST')
    div
      label(for='name') Name:
      input(type="text" id="name" name="name" required)
    div
      label(for="email") Email:
      input(type="email" id="email" name="email" required)
    div
      label(for="password") Password:
      input(type="text" id="password" name="password" required)
    div
      label(for="password2") Confirm Password:
      input(type="text" id="password2" name="password2" required)
    div
      button(type="submit") Register
  a(href='/login') Login 